.logo{
    width:135px;
    height:25px;
    margin-top: -4px;
    margin-right: 0px;
    text-align: center !important;
    margin-left: 10px !important;
}

.container div h1 {
    font-size: 70px;
    color : #fff;
    font-family:"Source-Han-Ligh15fedaecca1ea44";
    letter-spacing: 8px;
    text-indent: 8px;
}

.logan{
    font-size: 25px !important;
    color : #fff;
    font-family:'Source-Han-Ligh15fedaecca1ea44';
    letter-spacing: 30px;
    text-indent: 30px;
    text-align: center !important;
    margin: 0 auto !important;
}


.updown {
    z-index: 9;
    position: relative;
}



.block-header{
    font-size: 50px;
    font-weight: 600;
    color:#0e7acc;
    letter-spacing: 8px;
    text-indent: 35px;
    display: inline;
    border-bottom: solid 6px #0e7acc;
    font-weight: 800 !important;
}

.container div h3 {
    font-size: 20px;
    color : rgb(91, 158, 235);
    font-family:'微软雅黑';
    letter-spacing: 6px;
    text-indent: 6px;
}

.btn-toIndex{
    font-family:'Source-Han-Ligh15fedaecca1ea44';
    font-size: 30px;
}

.vidol-3d{
    font-family:'Source-Han-Ligh15fedaecca1ea44' !important;
    text-align: center !important;
    margin: 0 auto !important;
    color : rgb(91, 158, 235);
    font-size: 45px;
    font-weight: 800;
}

.vidol-3d span{
    font-family:'Source-Han-Ligh15fedaecca1ea44' !important;
    text-align: center !important;
    margin: 0 auto !important;
    color:#fff;
    font-size: 25px;
    letter-spacing: 6px;
}

.media-body p{
    margin-top:20px;
}
.media-body a{
    margin-top:40px;
}
